@{
    ViewData["Title"] = "Delete Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Seafood.Models.Item

<div class="mui-panel">
    <h2>Are you sure you want to delete this?</h2>
    <div class="mui-divider"></div>
    <p class="mui-textfield mui-textfield--float-label">
        @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

            @using (Html.BeginForm())
            {
                <p class="mui--text-center">
                <input type="submit" value="Delete" /></p>
            }
</div>