@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable <Seafood.Models.Item>

<div class="mui-panel">
    <h2>Check out what's been caught today!</h2>
    <div class="mui-row">
        @foreach (var listItem in Model)
        {
            <div class="mui-col-sm-3 mui-panel"><p>@Html.DisplayFor(modelItem => listItem.Name)</p></div>
        }
    </div>
</div>