@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable <Seafood.Models.Item>

<div class="mui-panel">
    <h2>Check out what's been caught today!</h2>
    <div class="mui-divider"></div>
    <div class="mui-panel">
        @foreach (var listItem in Model)
        {
            <ul class="mui-list--inline">
                <li>@Html.DisplayFor(modelItem => listItem.Name) | @Html.ActionLink("Details", "Detail", "Item")</li>
            </ul>
        }
    </div>
</div>