@model Seafood.Models.Subscriber

@{
    ViewData["Title"] = "Newsletter Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mui--appbar-height"></div>
<div class="mui-container-fluid">
    <br>
    <h2>Subscribe to the newsletter</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)


        <input type="submit" value="Join" class="btn btn-default" />
    }
    <p>Thank you!</p>
</div>