@model Seafood.Models.Subscriber

@{
    ViewData["Title"] = "Newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="mui-panel">
    <h2>Subscribe to the newsletter</h2>
    </div>