@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mui-panel">
    <h2>About Son of Cod Fishing Company</h2>
    <p>
        The first Son of Cod Fishing Company was opened by Craig Gildersleeve in 1979 in Sandpoint, Idaho, and it is still going strong. In 2007 Craig's sister in law, Nancy, opened a second location in Durango, Colorado. Having been around his dad’s business all his life, Lyf Gildersleeve and his wife Natalie opened the third Son of Cod Fishing in Park City, UT, in 2009, seeing the need for high quality seafood in the area. Two years later, they sold Son of Cod Fishing Utah and moved to Portland, Oregon, where they opened the latest location.
    </p><p>
        Son of Cod Fishing Oregon is proud to sell all sustainable seafood at competitive prices and unsurpassed quality. We are a local, family run business and guarantee all of our products. We would never sell anything we wouldn't serve at our own dinner table. In addition to seafood, we also sell local grass fed beef, buffalo, elk, pork, lamb, chicken, eggs, and many other specialty items.
    </p><p>
        Thank you for checking us out!
    </p>
    </div>