@{
    ViewData["Title"] = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Delivery</h2>
    <p>Son of Cod delivers to businesses and home addresses for any order over $100. Please order at least one week in advance so scheduling can offer a flexible window of time that will meet both your needs and ours.</p>
    <p>Email or call us. We swim up to 50 miles from Portland, even upstream!</p>


